# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Archives
*.xcarchive

# User-specific
*.swp
*.lock
